<div class="col-md-12 col-sm-12 col-xs-12 container" align="center">

  <div class="home">
    <!-- <h1 style="margin-top: 40px;">Monkey Chore</h1> -->
    <img src="../assets/image-removebg-preview.png" width="35%">

    <div class="nav">links</div>

    <p>We decided to start this business because we saw a need. Modern life demands that we be in 5 places at once and it’s exhausting. 
      Sometimes we all need a little help. That’s where we come in. We’ll stay in and wait for that delivery you’re expecting 
      that was supposed to be here last week, build that flat pack bookcase you’ve been meaning to sort out and then cut the grass all in 
      one go.
    </p>
    <hr>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <h2>SERVICES WE PROVIDE</h2>
      <ul class="col-md-12 col-sm-12 col-xs-12">
        <li
          class="list-group-item cat"
          *ngFor="let Category of Categories; let i = index"
          style="text-align: left; font-size: x-large; padding: 0px; border: 0px;">
            <b>{{ Category.name }}</b> -
            <i> {{ Category.description }}</i>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12" style="background: lightcyan; padding: 20px;">
      <h2>CHOOSE YOUR CHORES</h2>
      
      <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
      <form>
        <div class="col-xs-12">
          <div class="form-group">
            <select
              type="text"
              id="categoryName"
              class="form-control"
              formControlName="categoryName">
              <option>--Select a category--</option>
              <option *ngFor="let Category of Categories; let i = index">{{ Category.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="location">Location</label>
            <input
              type="text"
              id="location"
              formControlName="location"
              class="form-control">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="date">Date</label>
            <input
              type="date"
              id="date"
              formControlName="date"
              class="form-control">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Enter your name here</label>
            <input
              type="text"
              id="name"
              placeholder="Jane Doe"
              formControlName="name"
              class="form-control">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="contact">Enter your contact</label>
            <input
              type="text"
              id="contact"
              placeholder="Jane 07023456789"
              formControlName="contact"
              class="form-control">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <!-- <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button> -->
      </form>

      <form>
        
      </form>
    </div>
    <hr>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../assets/image-removebg-preview(1).png" width="35%">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12" align="center" style="background: rgb(193, 252, 252);">
        <h2>Taskers</h2>
        <ul>
          <li
            class="list-group-item"
            *ngFor="let Tasker of Taskers; let i = index"
            style="font-size: x-large;">
            <!-- <b>{{ Tasker.index }}</b> -->
            <b>{{ Tasker.name }} </b> 
            <i>{{ Tasker.location }}</i><br>
            {{ Tasker.category }}
          </li>
        </ul>
      </div>
      <div class="task col-md-6 col-md-offset-3" style="padding: 20px;">
        <button (click)="toggleElement()">Sign up as a Tasker</button>
        <form *ngIf="showElement" style="margin: 20px;">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Enter your Name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label for="contact">Enter your Contact</label>
              <input
                type="text"
                id="contact"
                formControlName="contact"
                class="form-control">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label for="location">Enter your Location</label>
              <input
                type="text"
                id="location"
                formControlName="location"
                class="form-control">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label for="skill">Describe your skill set</label>
              <textarea
                type="text"
                id="skill"
                class="form-control"
                formControlName="skill"
                rows="6"></textarea>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
          <!-- <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button> -->
        </form>
      <h3>Contact us for more info</h3>
      </div>
    </div>
    <hr>

    <div class="foote col-md-12">
    </div>
    <hr>
  </div>

</div>
<!-- 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 -->